@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/
.login-area{
    width: 930px;
}
/*Right box*/
.right-box{
    padding: 40px 30px 40px 40px
}
/*Custom Placeholder*/
::placeholder{
    font-size: 16px;
}

/*------------ Profile container ------------*/
.norm-text{
    white-space: nowrap;
}

.vl {
    border: 6px solid green;
    height: auto;
    max-width: 0px;
}