@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*General*/
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    border: 2px;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 5rem;
}

.big-text{
    text-wrap: nowrap;
    font-weight: bold;
    font-size: 2.5rem;
}

/*Right box in login page*/
.right-box{
    padding: 40px 30px 40px 40px
}
